body{
  font-size: 1.4em;
}
a{
  text-decoration: none;
  padding: 1em;
}
h1{
  text-align: center;
}
header {
  display: flex;
}

.logo{
  display: flex;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  flex-grow:1;
  justify-content: flex-end;
}

.banner{
  display: flex;
  position: relative;
}
img.banner{
  max-width: 100%;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.small{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.small>div{
  text-align: center;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
}
.video{
  text-align: center;
}
img.video{
  max-width: 100%;
  margin: auto;
}

.work{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.work>div>img{
  width: 100%;
}
.join{
  display: flex;
  flex-direction: column;
}
.join>p{
  text-align: center;
}
.join_button{
    align-content: center;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}
.footer{
  margin-top: 1em;
  background-color: gray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media only screen 
  and (max-width: 639px)
  and (orientation: portrait) {
    .logo{
      display: none;
    }
    .menu {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .footer{
  		margin-top: 1em;
  		background-color: gray;
  		display: flex;
  		flex-direction: column;
  		text-align: center;
	}
}
@media only screen 
  and (max-width: 961px)
  and (orientation: portrait) {
    .logo{
      display: none;
    }
    .menu {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .footer{
  		margin-top: 1em;
  		background-color: gray;
  		display: flex;
  		flex-direction: column;
  		text-align: center;
	}
}
@media only screen 
  and (max-width: 639px)
  and (orientation: landscape) {
}
@media only screen 
  and (max-width: 961px)
  and (orientation: landscape) {
}
@media only screen 
  and (max-width: 1025px)
  and (min-width: 962px) {
}

@media only screen 
  and (max-width: 1281px)
  and (min-width: 1026px) {

}

@media only screen 
  and (max-width: 1921px)
  and (min-width: 1282px) {

}
/* Portrait */
@media only screen 
  and (max-width: 600px) 
  and (orientation: portrait) {
    .logo{
      display: none;
    }
    .menu {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .footer{
  		margin-top: 1em;
  		background-color: gray;
  		display: flex;
  		flex-direction: column;
  		text-align: center;
	}
}
/* Landscape */
@media only screen 
  and (max-device-width: 900px) 
  and (orientation: landscape) {
    .logo{
      display: none;
    }
    .menu {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .footer{
  		margin-top: 1em;
  		background-color: gray;
  		display: flex;
  		flex-direction: column;
  		text-align: center;
	}
}
@media only screen 
  and (max-width: 1921px)
  and (min-width: 1282px) {

}
@media only screen 
  and (max-width: 1281px)
  and (min-width: 1026px) {

}